@page
@model MascotaFeliz.App.Frontend.Pages.DetallesMascotasModel
@{
}

<div class = "content">
    <h2>Detalles de la Mascota</h2>
    <text>
        Id: @Model.mascota.Id
        <br>
        Nombre: @Model.mascota.Nombre
        <br>
        Color: @Model.mascota.Color
        <br>
        Especie : @Model.mascota.Especie
        <br>
        Raza : @Model.mascota.Raza
        <br>
        Id Dueño : @Model.mascota.Dueno.Id
        <br>
        Dueño : @Model.mascota.Dueno.Nombres @Model.mascota.Dueno.Apellidos
        <br>
        Id Veterinario : @Model.mascota.Veterinario.Id
        <br>
        Veterinario : @Model.mascota.Veterinario.Nombres @Model.mascota.Veterinario.Apellidos
        <br>
        ID Historia Clínica : @Model.mascota.Historia.Id
    </text>
    <form class="center">
        <a asp-page="./ListaMascotas" Class="botons">Lista de Mascotas</a>
    </form>
</div>